  <div class="main-layout">




    <div class="form-wrapper">
      
      <div class="head">
        <h3>Branches List</h3>
        <button [routerLink]="['/admin', 'branches', 'add']" class="cursor-ponter">Add New Branch</button>
      </div>
      
      <div class="success" *ngIf="loading">
  <img src="/loader.gif" width="30px" />
  loading branch
</div>

<table border="1" [width]="1400" *ngIf="!loading">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let branch of branches; let i = index">
      <tr>
        <td>{{ branch.id }}</td>
        <td>{{ branch.name }}</td>
        <td>{{ branch.location }}</td>
        <td class="action">
          <button class="cursor-ponter" (click)="handleEditBranch(branch)">Edit</button>
          <!-- <button class="cursor-ponter">Details</button> -->
          <button class="cursor-ponter" (click)="handleDeleteBranch(branch)">Delete</button>
          <button class="cursor-ponter" (click)="viewChefsOfBranch(branch.id)">View Chefs</button>
        </td>
      </tr>
      
    </ng-container>
  </tbody>
</table>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="showModal">
  <div class="modal">
    <h3>Chefs List</h3>
    <table *ngIf="selectedBranchChefs.length > 0">
      <thead>
            <tr>
<th>Chef Name</th>
        <th>Chef Email</th>
        <th>Chef Phone</th>
        <th>Chef Specialization</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let chef of selectedBranchChefs">
              <td>{{chef.name}}</td>
              <td>{{chef.email}}</td>
              <td>{{chef.phone}}</td>
                <td>{{chef.specialization}}</td>
                
              </tr>
            </tbody>
          </table>
          <p *ngIf="selectedBranchChefs.length === 0">No chefs found for this branch.</p>
          <button (click)="closeModal()">Close</button>
        </div>
      </div>
      
</div>

<!-- currentPage = {{ currentPage }} -->

<div class="pagination" *ngIf="pages.length > 1">
  <a
  *ngFor="let pageNo of pages"
  [class.active]="currentPage === pageNo"
  [routerLink]="['/admin','branches']"
  [queryParams]="{ page: pageNo }"
  >
  {{ pageNo }}
</a>
</div>
</div>
