<div class="form-wrapper">

  <div class="head">
    <h3>Chefs List</h3>
    <button [routerLink]="['/admin', 'chefs', 'add']" class="cursor-ponter">
    Add New Chef
  </button>
</div>

<div class="success" *ngIf="loadingChefs">
  <img src="/loader.gif" width="30px" />
  loading chefs
</div>

<table border="1" [width]="1400" *ngIf="!loadingChefs">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>BranchId</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let chef of chefs; let i = index">
      <tr>
        <td>{{ chef.id }}</td>
        <td>{{ chef.name }}</td>
        <td>{{ chef.email }}</td>
        <td>{{ chef.phone }}</td>
        <td>{{ chef.branchId }}</td>
        <td class="action">
          <button class="cursor-ponter" (click)="chefEditClick(chef)">Edit</button>
          <!-- <button class="cursor-ponter">Details</button> -->
          <button class="cursor-ponter" (click)="handleDeleteChef(chef)">Delete</button>
          <button
          class="cursor-ponter"
          
          (click)="assignChefToBranchClick(chef.id)"
          >
          Assign To Branch
        </button>
        <!-- <button class="cursor-ponter" (click)="viewChefsOfBranch(branch.id)">View Chefs</button> -->
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="modal-backdrop" *ngIf="showModal">
  

  <div class="modal">
    <h3>Branches List</h3>
    
    <div class="success" *ngIf="loading">
      <img src="/loader.gif" width="30px" />
  loading Branches
</div>

<table *ngIf="!loading && branches.length > 0" border="1">
  <thead>
    <tr>
      <th>Branch Id</th>
      <th>Branch Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let branch of branches">
      <td>{{ branch.id }}</td>
      <td>{{ branch.name }}</td>
        </tr>
      </tbody>
    </table>
    <select
    [(ngModel)]="selectedBranchId"
    name="selectBranch"
    id="selectBranch"
    *ngIf="!loading"
    >
    <option *ngFor="let branch of branches" [value]="branch.id">
      {{ branch.name }}
      </option>
    </select>

    <p *ngIf="!loading&&branches.length === 0">No Branches Available.</p>
    <button (click)="closeModal()">Close</button>
    <button (click)="confirmAssignBranch()" [disabled]="loadingAssign">
      <!-- optional spinner inside assign button -->
      <span *ngIf="loadingAssign">
        <img src="/loader.gif" width="20px" />
        Assigning...
      </span>
      <span *ngIf="!loadingAssign">Assign</span>
    </button>
  </div>
</div>

</div>
currentPage = {{ currentPage }}

<div class="pagination">
  <a
    *ngFor="let pageNo of pages"
    [class.active]="currentPage === pageNo"
    [routerLink]="['/admin','chefs']"
    [queryParams]="{ page: pageNo }"
  >
    {{ pageNo }}
  </a>
</div>
