<header>
  <div>
    <ul>
      <li [routerLink]="['/']">Home</li>
      <li [routerLink]="['/main-menu']">Menu</li>
      <li [routerLink]="['/about-us']">About Us</li>
      <li [routerLink]="['/contact-us']">Contact Us</li>
    </ul>
  </div>

  <div *ngIf="isLogin; else notLoggedIn">
    <button [routerLink]="['/',userType,'profile']">{{ userName }}</button>
    <button (click)="logout()" class="logout-btn">Logout</button>
  </div>

  <ng-template #notLoggedIn>
    <div>
      <button class="cursor-pointer" [routerLink]="['/auth', 'login']">
        Login
      </button>
    </div>
  </ng-template>
</header>