<div class="head">
    <h3>User Detalis</h3>
    <div>
        <a routerLink="/users/list">User List</a>
    </div>
   
</div>
<div class="user-detalis">
    <div class="form">
      
        <div> 
            <div class="success" *ngIf="loading">
                <img src="/loader.gif" width="30px">
                Getting User details ...
                </div>
                <div class="error" *ngIf="error">
                  {{error}}
                    </div>
      
         <div *ngIf="user && !loading">
            <div class="form-control">
                <label>Name</label>
                <span>{{user.name}}</span>
        </div>
        <div class="form-control">
            <label>Email Address</label>
            <span>{{user.email}}</span>
    </div>
        <div class="form-control"> 
            <label>Password</label>
            <span>{{user.password |hidePassword:'*':2 }}</span>
        </div>
         </div>
       
    </div>
</div> 
</div> 