<div class="form-wrapper">
  <div class="head">
    <h3>Pastas Dishes List</h3>
    <button [routerLink]="['/chef', 'dishes', 'add']" class="cursor-ponter">
      Add New Pasta
    </button>
  </div>

  <div class="success" *ngIf="loading">
    <img src="/loader.gif" width="30px" />
    loading Pastas
  </div>

  <table border="1" [width]="1400" *ngIf="!loading">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Decription</th>
        <th>Type</th>
        <th>Dietry Info</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dish of dishes; let i = index">
        <tr>
          <td>{{ dish.id }}</td>
          <td>{{ dish.name }}</td>
          <td>{{ dish.description }}</td>
          <td>{{ dish.pastaType }}</td>
          <td>{{ dish.dietaryInfo }}</td>
          <td>{{ dish.price }}</td>
        </tr>
        .
        <td class="action">
          <button class="cursor-ponter" (click)="viewDishIngredients(dish.id)">
            View Dish Ingredients
          </button>
        </td>
      </ng-container>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal">
      <h3>Dish Ingredients</h3>
      <table *ngIf="selectedDishIngredients.length > 0" border="1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Ingredient of selectedDishIngredients">
            <td>{{ Ingredient.name }}</td>
            <td>{{ Ingredient.description }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="selectedDishIngredients.length === 0">
        No Ingredients found for this Dish.
      </p>
      <button (click)="closeModal()">Close</button>
    </div>
  </div>
</div>

currentPage = {{ currentPage }}

<div class="pagination">
  <a
    *ngFor="let pageNo of pages"
    [class.active]="currentPage === pageNo"
    [routerLink]="['/chef', 'dishes']"
    [queryParams]="{ page: pageNo }"
  >
    {{ pageNo }}
  </a>
</div>
