// =================================================================
.banner {
  // border: 1px solid red;
  position: relative;
  width: 45%;
  min-height: 100vh;
  padding: 0 60px;
  background: #ffffff;
  overflow: hidden;
  transition: ease-in-out 1.5s;
  z-index: 10;
}

.banner.active {
  width: 7%;
  transition: ease-in-out 1.5s;
}

.banner .content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.banner .content h1 {
  font-family: "Lobster Two", cursive;
  font-size: 5.5em;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  margin-bottom: 20px;
  transition: 1s;
  transition-delay: 0.5s;
  // color: var(--primary);
}

.banner.active .content h1 {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateX(-100%);
}

.banner .content a.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  // color: #000000;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 0.7rem 2.5rem;
  border: 1px solid var(--primary);
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.banner .content a.btn ion-icon {
  font-size: 1.1em;
}

.banner .content a.btn:hover {
  gap: 30px;
  background: var(--primary);
  color: #ffffff;
}

.banner .content .arrow {
  position: absolute;
  visibility: hidden;
  padding: 0;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  border: none;
  z-index: 100;
  opacity: 0;
}

.banner .content .arrow ion-icon {
  font-size: 2em;
  transition: 0.5s;
}

.banner .content .arrow:hover ion-icon {
  color: var(--primary);
}
.banner.active .content .arrow {
  opacity: 1;
  visibility: visible;
}

.banner.active .content a.btn {
  opacity: 0;
  visibility: hidden;
}

.banner-middle {
  position: absolute;
  top: 10%;
  left: 48%;
  width: 50%;
  height: 100vh;
  padding: 0 10px;
  // background: rgba(0, 0, 0, 1);
  overflow: hidden;
  transition: ease-in-out 1.5s;
  transition-delay: 0.2s;
  z-index: 50;
  // border: 1px solid red;
}

.banner-middle.active {
  left: 8%;
}

.banner-middle .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-gap: 10px;
  
  // gap: 20px;
}
.banner-middle swiper-container {
  flex: 10;
  min-width: 0; 
}
.swiper-pas1,
.swiper-pas2,
.swiper-pas3 {
  width: 95%;
  height: 100vh;
}

.swiper-slide {
  background: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

swiper-slide {
  flex: 10;
  min-width: 0; 
  
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  // margin: 5px 0;
  // border: 3px solid brown;
}

.banner-right {
  position: absolute;
  top: 9%;
  left: 90%;
  width: 40%;
  height: 98vh;
  padding: 50px 40px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  transition: ease-in-out 1.5s;
  transition-delay: 0.4s;
  border: 1px solid red;
  /* z-index: 100; */
   opacity: 0;
  visibility: hidden;
}

.banner-right.active {
  left: 59%;
   opacity: 1;
  visibility: visible;
}
.banner-right h1 {
  font-family: "Lobster Two", cursive;
  font-size: 3.4em;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 1;
  visibility: visible;
  margin-bottom: 20px;
  transition: 0.5s;
  transform-origin: left;
  line-height: 1em;
}

.banner-right .number {
  position: absolute;
  font-size: 3.4em;
  top: 5.2%;
  right:48%; 
}

.banner-right .content {
  display: flex;
  border-top: 1px solid;
  border-image: linear-gradient(90deg, #000000, transparent, transparent) 30;
}

.content img {
  padding: 20px;
  max-width: 50%;
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-left: 1px solid;
  border-image: linear-gradient(#000000, transparent, transparent) 30;
}

.content .description {
  padding: 20px;
  border-right: 1px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(#000000, transparent, #000000) 30;
}

.content .description h3 {
  font-family: "Lobster Two", cursive;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content .description span {
  text-transform: uppercase;
  font-weight: 300;
}

.content .description p {
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.content .description a {
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
}

.content .description a ion-icon {
  margin-left: 3px;
  transition: 0.5s;
}

.content .description a:hover {
  color: var(--primary);
}

.footer-content {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 200;
  font-size: 0.8s;
  margin: 20px 0;
}

.credits a {
  color: var(--primary);
  text-decoration: none;
}

.sci {
  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  z-index: 20px;
}

.sci li {
  list-style: none;
}

.sci a {
  text-decoration: none;
  cursor: pointer;
}

.sci a ion-icon {
  font-size: 1.5em;
  color: #000000;
  transition: 0.3s;
}

.sci a:hover ion-icon {
  color: var(--primary);
}
// ============================================================================
