<div class="admin-branches">
    <h2>List Of All Branches</h2>
    <a [routerLink]="['branches']">see more...</a>
 <button [routerLink]="['/admin', 'branches', 'add']" class="cursor-ponter">
    Add New Branch
  </button>
</div>

<div class="admin-chefs">
    <h2>List of All Chefs</h2>
        <a [routerLink]="['chefs']">see more...</a>

     <button [routerLink]="['/admin', 'chefs', 'add']" class="cursor-ponter">
    Add New Chef
  </button>

</div>
<div class="admin-pastas">
    <h2>List of All pastas</h2>
        <a [routerLink]="['admin-pastas-list']">see more...</a>

    <button>Add New Pasta</button>

</div>
<div class="admin-ingredients">
    <h2>List of All Ingredients</h2>
        <a [routerLink]="['ingredients']">see more...</a>

    <button>Add New Ingredient</button>

</div>