<!-- <div class="admin-layout"> -->

  <!-- Sidebar -->

<!-- <app-sidebar-admin-chef></app-sidebar-admin-chef> -->
   <!-- <aside class="sidebar">
    <h2 class="sidebar-title">
        <img src="assets/images/logo2-nobg.png" alt="">
    </h2>
    <nav class="sidebar-nav">
      <a [routerLink]="['/admin', 'branches']">Branches</a>
      <a [routerLink]="['/admin', 'chefs']">Chefs</a>
      <a [routerLink]="['/admin', 'admin-pastas-list']">Pastas</a>
      <a [routerLink]="['/admin', 'ingredients']">Ingredients</a>
    </nav>
  </aside> -->
  <!-- Main Content -->
 <!-- <main class="main-content"> -->
    <div class="dashboard"> 

   
    <h1>Welcome to Admin Dashboard</h1>

    <div class="dashboard-grid">

      <!-- Branches Card -->
      <div class="dashboard-card">
        <h2>Branches</h2>
        <p>Manage all restaurant branches.</p>
        <div class="card-actions">
          <a [routerLink]="['branches']">See More</a>
          <button [routerLink]="['/admin', 'branches', 'add']">Add Branch</button>
        </div>
      </div>

      <!-- Chefs Card -->
      <div class="dashboard-card">
        <h2>Chefs</h2>
        <p>Manage chefs and their specializations.</p>
        <div class="card-actions">
          <a [routerLink]="['chefs']">See More</a>
          <button [routerLink]="['/admin', 'chefs', 'add']">Add Chef</button>
        </div>
      </div>

      <!-- Pastas Card -->
      <div class="dashboard-card">
        <h2>Pastas</h2>
        <p>Manage pasta dishes available for customers.</p>
        <div class="card-actions">
          <a [routerLink]="['admin-pastas-list']">See More</a>
          <button [routerLink]="['/admin', 'pastas', 'add']">Add Pasta</button>
        </div>
      </div>

      <!-- Ingredients Card -->
      <div class="dashboard-card">
        <h2>Ingredients</h2>
        <p>Manage ingredients linked to pasta dishes.</p>
        <div class="card-actions">
          <a [routerLink]="['/admin','ingredients']">See More</a>
          <button [routerLink]="['/admin', 'ingredients', 'add']">Add Ingredient</button>
        </div>
      </div>

    </div>
 </div>
  <!-- </main> -->

<!-- </div> -->
