<div class="admin-branches">


    <h2>List Of All Branches</h2>
    <a [routerLink]="['branches']">see more...</a>
 <button [routerLink]="['/admin', 'branches', 'add']" class="cursor-ponter">
    Add New Branch
  </button>
</div>

<div class="admin-chefs">
    <h2>List of All Chefs</h2>
        <a [routerLink]="['chefs']">see more...</a>

     <button [routerLink]="['/admin', 'chefs', 'add']" class="cursor-ponter">
    Add New Chef
  </button>

</div>
<div class="admin-pastas">
    <h2>List of All pastas</h2>
        <a [routerLink]="['admin-pastas-list']">see more...</a>

    <button [routerLink]="['/admin', 'pastas', 'add']" >Add New Pasta</button>

</div>
<div class="admin-ingredients">
    <h2>List of All Ingredients</h2>
        <a [routerLink]="['/admin','ingredients']">see more...</a>

    <button>Add New Ingredient</button>

</div> 




<!--
=========================================================
* Soft UI Dashboard 3 - v1.1.0
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2024 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
