/* You can add global styles to this file, and also import other style files */
.error{
    background-color: red;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}
.success{
    background-color: greenyellow;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
}

.form-control{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    label{
        padding: 5px;
        font-weight: bold;
    }
    input , button{  
        min-width: 200px;
        padding: 10px;
        border: 1px solid gold;
        border-radius: 5px ;
    }
    button{
        background-color: gold;
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
} 
.head{
    display: flex;
    justify-content: space-between;

    h3{
        padding: 5px;
    } 

    button{
        
        width: 200px;
        height: 50px;
        font-weight: bold;
        background-color: gold;
        color: black;
    }} 

    .cursor-ponter{
        cursor: pointer;
    }